@charset "UTF-8";
.wrapper{
  text-align: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  padding: 15px 0;
}

.inner {
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.fa-gray {
  color:#797979;
}

.header-bottom {
  font-size: 12px;
  height: 50%;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration:none;
  transition: 0.3s;
}

.header-bottom:hover {
  color: #333;
}

body {
  font-family: Lato;
}

.font {
  font-family: Raleway;
}

h2 {
  font-size: 24px;
}

main {
  padding-top: 30px;
}

.title {
  padding-top: 250px;
  padding-bottom: 250px;
  background-color: #f2f2f2;
}

.title h1 {
  font-size: 90px;
  font-weight: 700;
  color:#74cfae;

}

.title p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.Green {
  background-color: #74cfae;
  padding-top: 50px;
  margin-bottom: 0px;
  width: 100%;
}

.green-inner {
  display: flex;
  justify-content: space-between;
}

.iphoneImg {
  margin-left: 100px;
}

.iphoneImg img {
  display: block;
}

.greenTitle h2 {
  color: #fff;
  font-weight: 400;
  margin-top: 50px;
}

.greenTitle p{
  width: 650px;
  color:#fff;
  margin-top: 35px;
  font-weight: 400;
  font-size: 20px;
}

.portfolio {
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
  width: 100%;
}

.work {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 80px;
}

.work a {
  display: inline-block;
}

.work img {
  max-width: 100%;
  height: auto;
  transition: 0.3s;
  opacity: .7;
}

.work img:hover {
  opacity: 1;
}

.description {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.dummyText {
  width:550px;
}

.btn-theme {
  color: #fff;
  background-color: #74cfae;
  border-color: transparent;
  text-decoration:none;
  margin-left:90px;
  transition: 0.3s;
}

.btn-theme:hover {
  color: #333;
}

.btn {
  font-size: 12px;
  padding: 14px 20px;
}

.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  width: 100%;
}

.skills h2 {
  color: #fff;
}

.mainSkill {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

ul.mainSkill li {
  margin-left: 180px;
}

ul.mainSkill li:first-child {
  margin-left: 0px;
}

.skillPra figcaption {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
  width: 100%;
}

.sns-contents {
  display: flex;
  justify-content: center;
}

.sns-icon {
  transition: 0.3s;
}

.sns-icon:hover {
  background-color: #fff;
}

.sns-icon a {
  display: inline-block;
}

.sns-icon i {
  width: 185px;
  color: #74cfae;
  font-size: 3rem;
  padding: 15px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #fff;
  background-color: #74cfae;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
}
