@charset "UTF-8";
.wrapper{
  text-align: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  padding: 15px 0;
}

.inner {
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.fa-gray {
  color:#797979;
}

.header-bottom {
  font-size: 12px;
  height: 50%;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration:none;
}

.header-bottom:hover {
  transition: 0.3s;
  color: #333;
}

body {
  font-family: Lato;
}

.font {
  font-family: Raleway;
}

h2 {
  font-size: 24px;
}

#title {
  padding: 250px 0 ;
  background-color: #f2f2f2;
}

.mainTitle h1 {
  font-size: 90px;
  font-weight: 700;
  color:#74cfae;

}

.mainTitle p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

#Green {
  background-color: #74cfae;
  padding-top: 50px;
  margin-bottom: 0px;
  width: 100%;
}

.green-inner {
  display: flex;
  justify-content: space-between;
}

.iphoneImg {
  margin-left: 100px;
}

.greenTitle h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 35px;
  margin-top: 50px;
}

.greenTitle p{
  width: 650px;
  color:#fff;
  font-weight: 400;
  font-size: 20px;
}

#portfolio {
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
  width: 100%;
}

.mt {
  margin-top: 40px;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 80px;
}

.work img {
  max-width: 100%;
  height: auto;
}

.grid img {
  opacity: .7;
}

.grid img:hover {
  transition: 0.3s;
  opacity: 1;
}

.description {
  margin-top: 90px;
  display: flex;
}

.dummyText {
  width: 70%;
  margin-right: 90px;
}

.btn-theme {
  color: #fff;
  background-color: #74cfae;
  border-color: transparent;
}

.btn-theme:hover {
  transition: 0.3s ;
  color: #333;
}

.btn {
  font-size: 12px;
  padding: 14px 20px;
}

#skills {
  background-color: #333;
  padding: 70px 0 100px 0;
  width: 100%;
}

.skillTitle {
  margin-bottom: 70px;
  color: #fff;
}

.mainSkill {
  display: flex;
}

.skillPra {
  margin-right: 180px;
}

.skillPra figcaption {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

#sns {
  background-color: #f2f2f2;
  padding: 200px 0;
  width: 100%;
}

.sns-contents {
  display: flex;
  justify-content: center;
}

.sns-icon:hover {
  transition: 0.3s ;
  background-color: #fff;
}

.sns-icon i {
  width: 185px;
  color: #74cfae;
  font-size: 3rem;
  padding: 15px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #fff;
  background-color: #74cfae;
}

.footer-text {
  display: flex;
  justify-content: flex-end;
}
